global:
  resolve_timeout: 5m

route:
  group_by: ["alertname"]
  group_wait: 10s
  group_interval: 10s
  repeat_interval: 1h
  receiver: "test-receiver"

receivers:
  - name: "test-receiver"
    webhook_configs:
      - url: "https://webhook.site/<uuid>"
